[Unit]
Description=Custom MAVLink Router Startup
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/home/cuav1/uas_streaming

ExecStart=/bin/bash /home/cuav1/uas_streaming/useful_shell_scripts/setup_mavlink_router.sh

Restart=on-failure
RestartSec=2

[Install]
WantedBy=multi-user.target